.textField input {
    display: block;
}
.textField.hasError input {
    border: 1px solid red;
}
.textField label {
    display: block;
}
.textField .error {
    display: none;
    color: red;
}
.textField.hasError .error {
    display: block;
}
